*{
	margin: 0;
	padding: 0;
}
body{
	font-family: sans-serif;
}
#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}
.navbar{
	background-image: linear-gradient(to right,#5f1782,#FF7F50);
	padding: 0 !important;
}
.navbar-brand img{
	padding-left: 20px;
}
.navbar-nav li{
	padding: 0 10px;
}
.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: left;
}
.fa-bars{
	color: #fff;
	font-size: 30px !important;
}
.navbar-toggler{
	outline: none !important;
}



#banner{
	background-image: linear-gradient(to right,#5f1782,#FF7F50); 
	color: #fff;
	padding-top: 5%;
}
.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.bottom-img{
	width: 100%;
}

#banner a{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}


#banner a:hover
{
  width: 220px;
  border-color: #2ecc71;
}




#Project-Details{
	padding: 80px0;
}
.Project-Details-img{
	width: 100px;
	margin-top: 20px;
}
.Project-Details{
	padding: 20px;
}
.Project-Details h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}
.title::before{
	content: '';
	background: #FF7F50;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}
.title::after{
	content: '';
	background: #FF7F50;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}




#Team-Members{
	background:#faf9fa;
	padding-bottom: 50px;
	padding-top: 50px;
}
.about-tilte{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;
}
#Team-Members ul li{
	margin: 10px 0;
}
#Team-Members ul li{
	margin-left: 20px;
}
.img-fluid img{
	height: 400;
	width: 382;
}



#Contacts{
	background-image: linear-gradient(to right,#5f1782,#FF7F50);
	color: #fff;
}
.footer-box{
	padding-bottom: 30px;
}
.footer-box .fas{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right,#5f1782,#FF7F50);
}
.footer-box .form-control{
	box-shadow: none !important;
	border:none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}
.footer-box .btn-primary{
	box-shadow: none !important;
	border:none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right,#5f1782,#FF7F50);
}
hr{
	background: #fff;
}
.copywrite{
	margin-bottom: 0;
	padding-bottom:20px;
	text-align: center;
}

/* Button */

/* button {
	background-color: blue;
	color: white;
	padding: 12px 20px;
	border: none;
	cursor: pointer;
	font-size: 16px;
	border-radius: 5px;
  }
  
  button:hover {
	background-color: darkblue;
  }
   */
  #Project-Details a{
	text-decoration: none; /* removes the underline from text in the <a> tag */
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: rgb(41, 4, 4);
	border-radius: 24px;
	transition: 0.25s;
  }
  #Project-Details a:hover
{
  width: 220px;
  border-color: #2ecc71;
}

.button {
    text-decoration: none; /* removes the underline from text in the <a> tag */
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: rgb(41, 4, 4);
	border-radius: 12px;
	transition: 0.25s;
  }

button:hover
{
  width: 220px;
  border-color: #2ecc71;
}
  
 
.details h1,h2,h5 {
    display: inline;
}